html {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  width: 140px;
  height: 220px;

  margin-top: 16px;
  padding: 0px 10px 0 20px;
}

/* Image 170x220 */
/* #item-h1 {
  border: 1px solid green;
} */

/* .img-selfie {
  border-radius: 50% 50%;
} */

/* Spacing for content all ar0und */
.class-content-attributes {
  padding: 10px;
  color: cornsilk;
}

/* Spacing for content left and right */
.class-content-attributes-padding-left-right {
  padding: 0 10px;
}

/* Margin for content all around */
.class-content-attributes-margin-all {
  margin: 10px;
}

/* Rounded corners for content */
.rcorners {
  border-radius: 25px;
  border: 2px solid #001f3f;
}

.class-content-attributes-margin-all {
  margin: 10px;
}

/* Main Container */
#main-container {
  max-width: 975px;
  margin: 0 auto;
  padding: 0;
}

/* Section Settings */
.class-section-settings {
  padding: 0 10 10px 0;
}

/* Sections - Base Settings */
#nav {
  padding: 10px 0;
}
#header {
  /* background-color: #f7f6f4; */
  background-color: #001f3f;
  padding: 10px 0 20px 0;
}
#main {
  padding: 10px 0;
}
#footer {
  /* border: 1px solid lightgrey; */
  border: 1px solid #e0eaf4;
  background-color: brown;
  padding: 10px;
  color: cornsilk;
  margin: 80px 0 0 0;
}

/****** Navigation ******/
.sticky {
  position: fixed;
  height: 50px;
  z-index: 1000;
  width: 100%;
  opacity: 0.9;
  left: 0;
  top: 0;
}

#nav .rowitems {
  display: flex;
}

#nav .h2-padding {
  margin: 0;
}

/****** Section Details - Header ******/
#header .rowitems {
  display: flex;
  flex-direction: row;
  min-width: 325px;
}

#header #item-h1 {
  /* flex: 4 1 0%; */
  flex-grow: 1;
  /* background-color: #f7f6f4; */
  background-color: #001f3f;
  padding: 0 0 0 0;
  color: white;
  text-align: center;
}

#header #item-h2 {
  display: flex;
  flex-direction: column;
  flex: 3 1 80%;
  /* background-color: #f7f6f4; */
  background-color: #001f3f;

  padding: 0 10px;
  font-size: 1em;

  text-align: center;
  align-items: center;
  justify-content: center;
}

#header #item-h2 #item-h2-inner-flex .item-h2-inner-flex-p {
  /* color: red; */

  margin: 0;
  font-size: 1em;
}

.resume__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.1rem;
  transition: all 0.5s;
}

.resume__link:hover,
.resume__link:active {
  color: orangered;
  font-size: 1.25rem;
}

/* Section Details - Main */
#main .rowitems {
  display: flex;
  flex-wrap: wrap;
}

/* USGS - 5th */
#main #item-m1 {
  /* flex: 1 1 50%; */
  flex-grow: 1;
  flex-basis: 25%;
  order: 5;
  min-width: 325px;
}

/* Portfolio - 6th */
#main #item-m2 {
  flex-grow: 1;
  flex-basis: 25%;
  order: 6;
  min-width: 325px;
}

/* Nama Shopping Cart - 1st */
#main #item-m3 {
  flex-grow: 1;
  flex-basis: 25%;
  order: 1;
  min-width: 325px;
}

/* MJ-Burgers React - 2nd */
#main #item-m4 {
  flex-grow: 1;
  flex-basis: 25%;
  order: 2;
  min-width: 325px;
}

/* Tennis-Anyone - 7th */
#main #item-m5 {
  flex-grow: 1;
  flex-basis: 25%;
  order: 7;
  min-width: 325px;
}

/* Grand-Hotel - 4th */
#main #item-m6 {
  flex-grow: 1;
  flex-basis: 25%;
  order: 4;
  min-width: 325px;
}

/* Pool Table Management App (Python) - 3rd */
#main #item-m7 {
  flex-grow: 1;
  flex-basis: 25%;
  order: 3;
  min-width: 325px;
}

/* 
#main #main-container {
    background-color: lightgreen;
} */

#footer .rowitems {
  display: flex;
  flex-direction: column;
}

/* Flex items */
.half {
  flex-basis: 50%;
}

.third {
  flex-basis: 33.33333%;
}

/****** Format paragraphs and text ******/
.technologies-formatting {
  font-weight: 600;
  text-align: center;
}

/****** Flex other sections ******/
.div-flex-mini-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****** Image resize ******/
.resize-small-img {
  width: 270px;
  height: 100px;
  margin-top: 0px;
  padding: 0;
}

.resize-small-img-portfolio {
  width: 300px;
  height: 100px;
  margin-top: 0px;
  padding: 0;
}

.resize-med-img-portfolio {
  width: 200px;
  height: 125px;
  margin-top: 0px;
  padding: 0;
}

/****** Media queries ******/
@media only screen and (max-width: 525px) {
  #header .rowitems {
    flex-wrap: wrap;
  }

  #nav .rowitems {
    display: flex;
    justify-content: flex-start;
  }
}
