html {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1.5em; */
    background-color: lightslategray;
}

body {
    margin: 0;
    min-height: 100vh;

}


img {
    width: 140px;
    height: 220px;
}


/* Spacing for content all ar0und */
.class-content-attributes {
    padding: 10px;
}


/* Spacing for content left and right */
.class-content-attributes-padding-left-right {
    padding: 0 10px;
}


/* Main Container */
#main-container {
    /* display: flex;
    flex-direction: column;*/
    border: 1px solid darkgoldenrod;

    max-width: 975px;
    margin: 0 auto;
    padding: 0;

 
}

/* Section Settings */
.class-section-settings {
    border: 1px solid red;
}


/* Sections - Base Settings */
#nav {
    /* border: 1px solid lightgrey; */
    border: 1px solid #E0EAF4;
    background-color: green;
    padding: 10px;
}
#header {
    /* border: 1px solid lightgrey; */
    background-color: #F7F6F4;
    padding: 10px 0;
}
#main {
    /* border: 1px solid lightgrey; */
    border: 1px solid #E0EAF4;
    background-color: pink;
    padding: 10px 0;
}
#footer {
    /* border: 1px solid lightgrey; */
    border: 1px solid #E0EAF4;
    background-color: brown;
    padding: 10px;
}








/* Section Details - Header */
#header .rowitems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: stretch; */
    /* justify-content: space-evenly; */
    /* min-height: 30vh; */
    flex-basis: 30vh;
    
    
    
    /* padding: 10px; */
}

#header #item-h1 {
    /* flex: 4 1 0%; */
    flex-grow: 1;
    background-color: #F7F6F4;
    padding: 0 0 0 0; 

    color: white;
    text-align: center;

    /* flex-basis: 20%; */

    /* justify-content: stretch; */

    

}

#header #item-h2 {
    flex: 3 1 80%;   
    background-color: #F7F6F4;
    /* padding: 10px; */
    /* flex-grow: 3; */
    /* flex-shrink: 1;  */

    padding: 0 10px;
    font-size: 1em;

    /* text-align: center; */

}  














/* Section Details - Main */
#main .rowitems {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* width: 100%; */
    /* align-items: stretch; */
    /* justify-content: space-evenly; */
    /* min-height: 30vh; */
    /* flex-basis: 25vh; */
    /* background-color: lightgreen; */
    
    /* flex-grow: 1; */
    /* padding: 10px; */
}

#main #item-m1{
    /* flex: 1 1 50%; */
    flex-grow: 1;
    flex-basis: 25%;
    background-color: orange;
    /* padding: 10px 0; */

    /* flex: 1 1 25%; */
    /* width: 25%;*/
    min-width: 325px; 
 
}

#main #item-m2 {
    /* flex: 1 1 50%; */
    background-color: lightblue;
    /* padding: 10px; */
    flex-grow: 1;
    flex-basis: 25%;
    /* padding: 10px 0; */

    /* flex: 1 1 25%; */
    /* width: 25%; */
    min-width: 325px;

}  


#main #item-m3 {
    /* flex: 1 1 50%; */
    background-color: green;
    /* padding: 10px; */
    flex-grow: 1;
    flex-basis: 25%;
    
    /* padding: 10px 0; */

    /* flex: 1 1 25%; */
    /* width: 25%; */
    min-width: 325px;

}  


/* 
#main #main-container {
    background-color: lightgreen;
} */







/* Flex items */
.half {
    flex-basis: 50%;
}

.third {
    flex-basis: 33.33333%;
}



/* 

@media only screen and (max-width: 768px) {
    #item-m1 {
        width: 100%;
    }
}
 */
